[submodule "mruby"]
	path = mruby
	url = https://github.com/:mruby/mruby.git
[submodule "gems/mruby-pcap"]
	path = gems/mruby-pcap
	url = https://github.com/:iij/mruby-pcap.git
[submodule "gems/mruby-pack"]
	path = gems/mruby-pack
	url = https://github.com/:iij/mruby-pack.git
[submodule "gems/mruby-socket"]
	path = gems/mruby-socket
	url = https://github.com/:iij/mruby-socket.git
[submodule "gems/mruby-io"]
	path = gems/mruby-io
	url = https://github.com/:iij/mruby-io.git
[submodule "gems/mruby-pcap2"]
	path = gems/mruby-pcap2
	url = https://github.com/:schmurfy/mruby-pcap2.git
